@font-face {
  font-style: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Raleway-800"), format("woff2"), url("..fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-style: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik-400"), format("woff2"), url("..fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-style: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik-700"), format("woff2"), url("..fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*Header*/
.main-menu {
  background-color: #FFE17F;
}

.user-menu__user, .user-menu__functions, .site-menu__sub-item, .site-menu__list,
.products-catalog__item, .service__item, .company-about__list-item {
  list-style-type: none;
}

.user-menu__search-field {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.user-menu__search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.site-menu__item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.site-menu__sub-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/*Slider*/
.main-slider__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.main-slider__text {
  color: #444444;
}

.button_main-slider {
  text-decoration: none;
  color: #000000;
}

.main-slider__table-facts {
  font-size: 36px;
}

.main-slider__table-text {
  font-size: 16px;
  color: #444444;
}

/*Main*/
.products-catalog__list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.products-catalog__link {
  color: #000000;
  text-decoration: none;
}

.delivery__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.service {
  background-color: #F0F0F0;
}

.service__info-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service__info-text {
  color: #444444;
}

.company-info__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.company-about__text {
  color: #444444;
}

.company-about__list-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.company-contacts__title {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.company-contacts__address {
  font-style: normal;
  color: #444444;
}

.company-contacts__tel {
  color: #444444;
}

.subscribe__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe__text {
  color: #444444;
}

.subscribe__form-field {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button_subscribe {
  align-items: center;
  text-align: center;
}

.subscribe__notice {
  color: #444444;
}
