@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.button:disabled {
  opacity: 0.3;
}

.focus:focus {
  outline: 2px solid #af4fff;
}

.focus:focus:not(:focus-visible) {
  outline: none;
}

.focus:focus-visible {
  outline: 2px solid #af4fff;
}

/*Header*/
.logo {
  height: 36px;
  width: 145px;
}

.logo_catalog:hover {
  opacity: 0.6;
}

.logo_catalog:active {
  opacity: 0.3;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 60px 30px 60px;
  background-color: #ffffff;
  background-image: -o-linear-gradient(top, #ffffff 41px, #ffe17f 15px);
  background-image: linear-gradient(to bottom, #ffffff 41px, #ffe17f 15px);
}

.user-menu__user,
.user-menu__functions,
.site-menu__sub,
.site-menu__sub-item,
.site-menu__list,
.products-catalog__item,
.products-catalog__list,
.service__list,
.service__item,
.company-about__list,
.company-about__list-item,
.footer__nav,
.footer__icon,
.catalog-title__nav-item,
.catalog__pagination-page,
.catalog__pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-menu__login,
.user-menu__login_logout,
.user-menu__name-link,
.user-menu__comparing,
.user-menu__card,
.catalog__product,
.service__link,
.popover-cart__item {
  text-decoration: none;
  color: #000000;
}

.user-menu,
.site-menu {
  width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu {
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 517px;
}

.user-menu__search-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-search.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 2;
}

.user-menu__search-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 40px;
  width: 359px;
  padding: 10px 48px;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  z-index: 1;
}

.user-menu__search-button {
  width: 160px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  padding-right: 36px;
  padding-left: 34px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-left: -2px;
  cursor: pointer;
}

.user-menu__search-field:disabled,
.user-menu__search-field:disabled + .user-menu__search-button::before,
.user-menu__search-button:disabled {
  opacity: 0.1;
}

.user-menu__search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.user-menu__search-button:active {
  color: rgba(255,255,255,0.3);
}

.user-menu__login {
  position: relative;
  padding-left: 26px;
  margin-left: 27px;
}

.user-menu__login:hover,
.user-menu__comparing:hover,
.user-menu__card:hover {
  opacity: 0.6;
}

.user-menu__login:active,
.user-menu__comparing:active,
.user-menu__card:active {
  opacity: 0.3;
}

.user-menu__login::before,
.user-menu__name-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 13px;
  height: 12px;
  background-image: url("../images/icon-user.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-menu__login_logout {
  position: relative;
  opacity: 0.3;
  padding-left: 0;
  margin-left: 28px;
  margin-right: 0;
}

.user-menu__name-link {
  position: relative;
  padding-left: 26px;
  margin-left: 26px;
}

.user-menu__comparing {
  position: relative;
  padding-left: 22px;
}

.user-menu__comparing::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4.1px;
  width: 10px;
  height: 12px;
  background-image: url("../images/icon-compare.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-menu__functions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.user-menu__list:first-child {
  -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
          transform: translateX(14px);
}

.user-menu__card {
  position: relative;
  padding-left: 43px;
  margin-left: 33px;
}

.user-menu__list:hover + .popover-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu__card::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 6px;
  width: 16px;
  height: 14px;
  background-image: url("../images/icon-cart.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-menu__card::after {
  content: "2";
  position: absolute;
  left: -1px;
  bottom: 0;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}

.site-menu__item:first-child > a {
  position: relative;
  padding: 15px 60px 15px 0px;
  z-index: 3;
}

.site-menu__item:first-child > a::before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: -1px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 3;
}

.site-menu__item:first-child > a::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 17px;
  width: 16px;
  height: 16px;
  background-image: url("../images/plus-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
  z-index: 2;
}

.site-menu__item:first-child > a:hover::after {
  opacity: 1;
}

.site-menu__item:first-child > a:hover::after {
  background-image: url("../images/minus-icon.svg");
  opacity: 1;
}

.site-menu__item:first-child > a:hover::before,
.site-menu__item:first-child > a:active::before,
.site-menu__item:first-child > a:active::after,
.site-menu__item:first-child > a:hover,
.site-menu__item:first-child > a:active {
  opacity: 1;
}

.site-menu__item:first-child {
  position: relative;
  margin-right: auto;
  margin-left: -3px;
}

.site-menu__item:nth-child(3) {
  -webkit-transform: translate(-3px);
      -ms-transform: translate(-3px);
          transform: translate(-3px);
}

.site-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 45px;
  -webkit-transform: translateX(3px);
      -ms-transform: translateX(3px);
          transform: translateX(3px);
  z-index: 2;
}

.site-menu__item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-menu__item-link:hover,
.site-menu__item-link_active:hover::before,
.site-menu__sub-item-link:hover,
.site-menu__sub-item-link:hover::before  {
  opacity: 0.6;
}

.site-menu__item-link:active,
.site-menu__item-link_active:active::before,
.site-menu__sub-item-link:active,
.site-menu__sub-item-link:active::before {
  opacity: 0.3;
}

.site-menu__item-link_active {
  position: relative;
  padding-left: 2px;
  padding-bottom: 7px;
}

.site-menu__item-link_active::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 98%;
  height: 2px;
  background-color: #000000;
}

.site-menu__item:hover > .site-menu__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-menu__sub {
  position: absolute;
  left: -62px;
  width: 1160px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 171px;
  padding-top: 25px;
  padding-left: 61px;
  padding-bottom: 27px;
  background-color: #ffe17f;
  z-index: 2;
}

.site-menu__sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-right: 59px;
}

.site-menu__sub-item:nth-child(2) {
  min-width: 153px;
}

.site-menu__sub-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 6px;
}

.site-menu__sub-item-link_active {
  position: relative;
  padding-bottom: 5px;
}

.site-menu__sub-item-link_active::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

/*Slider*/
.main-slider {
  margin-top: -35px;
}

.main-slider__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  background-image: -o-linear-gradient(top, #ffe17f 153px, #ffffff 0px);
  background-image: -o-linear-gradient(top, #ffe17f 148px, #ffffff 0px);
  background-image: linear-gradient(to bottom, #ffe17f 148px, #ffffff 0px);
  margin-bottom: 69.5px;
  counter-increment: slide-counter;
  z-index: 1;
}

.main-slider__wrapper::before {
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 82px;
  right: 4px;
  content: "0" counter(slide-counter);
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 47px;
  z-index: -1;
}

.main-slider__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 560px;
}

.main-slider__info {
  min-height: 560px;
  width: 560px;
  margin-left: 40px;
}

.main-slider__title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 120px;
  margin-bottom: 29px;
}

.main-slider__text {
  margin-top: 0;
  margin-bottom: 52px;
  color: #444444;
}

.main-slide__button {
  position: relative;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 20px;
  height: 60px;
  padding: 0;
  margin-bottom: 60px;
  cursor: pointer;
}

.main-slide__button:disabled {
  opacity: 0.1;
}

.main-slide__button_left {
  background-image: url("../images/slider-arrow-left.svg");
  top: -10px;
  left: 50px;
}

.main-slide__button_right {
  background-image: url("../images/slider-arrow-right.svg");
  top: -10px;
  right: 20px;
}

.main-slide__button:hover {
  opacity: 0.6;
}

.main-slide__button:active {
  opacity: 0.3;
}

.button_main-slider {
  position: relative;
  width: 210px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 8px 5px;
  margin-bottom: 49px;
  z-index: 1;
}

.button_main-slider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ffe17f;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  z-index: -1;
}

.button_main-slider:hover::before,
.button_about-us:hover::before,
.button_write-us:hover::before,
.service__link:hover::before,
.button_form:hover::before {
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.button_main-slider:active::before,
.button_about-us:active::before,
.button_write-us:active::before,
.button_form:active::before {
  background-color: #ffcc33;
}

.main-slider__table {
  margin-left: -2px;
  margin-bottom: 26px;
}

.main-slider__table-facts {
  font-size: 36px;
  padding: 0px 53px 9px 0px;
}

.main-slider__table-text {
  font-size: 16px;
  color: #444444;
}

.main-slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  margin: -13px auto 0 auto;
}

.main-slider__toggle {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.main-slider__toggle_active {
  background-color: #000000;
}

.main-slider__toggle:hover,
.main-slider__toggle_active:hover {
  opacity: 0.6;
}

.main-slider__toggle:active,
.main-slider__toggle_active:active {
  opacity: 0.3;
}

.main-slider_active {
  -webkit-clip-path: flex;
          clip-path: flex;
}

.main-slider_hidden,
.service__info_hidden {
  display: none;
}

/*Main*/
.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products-catalog__list {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 70px;
}

.products-catalog__item {
  width: 160px;
}

.products-catalog__item:not(:last-child) {
  margin-right: 40px;
}

.products-catalog__link {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
  padding-top: 191px;
  padding-bottom: 10px;
}

.products-catalog__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.products-catalog__link:hover::before {
  background-color: #ffc700;
}

.products-catalog__link:active {
  opacity: 0.3;
}

.products-catalog__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.products-catalog__link_virtual::after {
  background-image: url("../images/index-catalog/index-virtual.svg");
}

.products-catalog__link_selfie::after {
  background-image: url("../images/index-catalog/index-selfie.svg");
}

.products-catalog__link_action::after {
  background-image: url("../images/index-catalog/index-action.svg");
}

.products-catalog__link_fitness::after {
  background-image: url("../images/index-catalog/index-fitness.svg");
}

.products-catalog__link_watch::after {
  background-image: url("../images/index-catalog/index-watch.svg");
}

.products-catalog__link_copters::after {
  background-image: url("../images/index-catalog/index-copters.svg");
}

.delivery {
  margin-bottom: 70px;
  text-align: center;
}

.delivery__link {
  font-family: "Raleway", sans-serif;
  display: block;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 39px 125px;
  background-color: #f0f0f0;
}

.delivery__link:hover::after {
  background-color: #ffc700;
}

.delivery__link:active {
  opacity: 0.3;
}

.delivery__link::before {
  content: "";
  position: absolute;
  top: 34%;
  left: 3.3%;
  background-image: url("../images/truck-icon.svg");
  width: 47px;
  height: 31px;
  z-index: 2;
}

.delivery__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #ffe17f;
  width: 125px;
  min-height: 101px;
  height: 100%;
  z-index: 1;
}

.delivery__icon {
  position: absolute;
  top: 31px;
  right: 44px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.delivery__icon::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 19px;
  background-image: url("../images/info-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 2px;
  height: 12px;
}

.service {
  background-color: #f0f0f0;
  margin-bottom: 70px;
  background-color: #ffffff;
  background-image: -o-linear-gradient(top, #ffffff 103px, #f0f0f0 100px);
  background-image: linear-gradient(to bottom, #ffffff 103px, #f0f0f0 100px)
}

.service__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 7px solid #000000;
  gap: 39px;
  width: 280px;
  padding-top: 68px;
  padding-bottom: 66px;
  margin-bottom: 72px;
}

.service__link.service__link_active,
.service__link:active {
  color: #ffe17f;
  text-align: left;
  background-color: #000000;
  width: 100%;
}

.service__link_active.service__link::before {
  background-color: transparent;
}

.service__link:active::before {
  width: 0;
  height: 0;
}

.service__link {
  position: relative;
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  display: inherit;
  border: none;
  background-color: transparent;
  padding: 8px 0;
  z-index: 1;
  cursor: pointer;
}

.service__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #ffe17f;
  z-index: -1;
}

.service__link_active.service__link:active::before {
  width: 0;
  height: 0;
}

.service__name {
  display: inline-block;
  width: 160px;
  text-align: center;
}

.service__info {
  position: relative;
  width: 448px;
  margin-left: 116px;
  padding-right: 245px;
}

.service__info::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service__info_delivery::after {
  background-image: url("../images/delivery-icon.svg");
  width: 136px;
  height: 164px;
}

.service__info_guarantee::after {
  background-image: url("../images/guarantee-icon.svg");
  width: 171px;
  height: 195px;
}

.service__info_credit::after {
  background-image: url("../images/credit-icon.svg");
  width: 156px;
  height: 188px;
}

.service__info-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 76px;
  margin-bottom: 34px;
}

.service__info-text {
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.company-info {
  padding-bottom: 79px;
}

.company-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
}

.company-info__title {
  margin-top: 45px;
  margin-bottom: 48px;
}

.company-about__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.company-about__list {
  margin-bottom: 21px;
}

.company-contacts__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.company-info__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.company-info__title::before {
  content: "";
  position: absolute;
  top: -46px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.company-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 496px;
}

.company-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 532px;
}
.company-about__text {
  color: #444444;
}

.company-about__list-item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding-left: 34px;
  margin-bottom: 19px;
}

.company-about__list-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ffc700;
  border-radius: 50%;
}

.company-contacts__title {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.company-contacts__address {
  font-style: normal;
  color: #444444;
}

.button_about-us {
  position: relative;
  z-index: 1;
  padding-right: 21px;
  padding-left: 21px;
}

.button_write-us {
  position: relative;
  padding-right: 27px;
  padding-left: 34px;
  margin-top: 10px;
  z-index: 1;
}

.button_about-us::before,
.button_write-us::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  margin-top: -4px;
  z-index: -1;
}

.company-contacts__tel {
  color: #444444;
  margin-bottom: 30px;
}

.subscribe {
  padding-bottom: 58px;
  background-color: #f0f0f0;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__text-wrapper,
.subscribe__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__text-wrapper {
  margin-top: 64px;
  margin-bottom: 145px;
}

.subscribe__form-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title,
.catalog-title__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe__title {
  width: 348px;
  margin-left: 5px;
}

.subscribe__text {
  width: 560px;
  color: #444444;
  margin-top: auto;
  margin-right: -5px;
  margin-bottom: 0;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 810px;
}

.subscribe__form-field {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 557px;
  color: #444444;
  padding: 12.2px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.subscribe__notice {
  margin: 0;
}

.button_subscribe {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 36px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 3px solid #c4c4c4;
  width: 253px;
}

.button_subscribe:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.button_subscribe:active {
  color: rgba(255,255,255,0.3);
}

.subscribe__notice {
  position: relative;
  color: #444444;
  padding-left: 30.5px;
}

.subscribe__notice::before {
  content: "";
  position: absolute;
  background-image: url("../images/tick-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 0;
  bottom: 8px;
  width: 14px;
  height: 14px;
}

/*footer*/
.footer {
  background-color: #444444;
}

.footer__address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 63px;
  padding-bottom: 61px;
}

.logo_footer {
  margin-bottom: 34px;
  cursor: pointer;
}

.footer__logo-image:hover {
  opacity: 0.6;
}

.footer__logo-image:active {
  opacity: 0.3;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 47px;
}

.footer__nav-link {
  font-family: "Raleway", sans-serif;
  position: relative;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer__nav-link::before {
  position: absolute;
  bottom: -5px;
  width: 98%;
  height: 2px;
  background-color: #ffc700;
}

.footer__nav-link:hover {
  color: #ffc700;
}

.footer__nav-link:active,
.footer__nav-link:active::before {
  opacity: 0.3;
}

.footer__nav-link:hover::before {
  content: "";
}

.footer__address {
  width: 240px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-left: 0;
  margin: 0;
  margin-right: 62px;
  gap: 35px;
}

.footer__tel {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: -4px;
  margin-right: 2px;
}

.footer__tel:hover {
  color: #ffc700;
}

.footer__tel:active {
  opacity: 0.3;
}

.footer__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  gap: 15px;
  padding-left: 0;
  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 0;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icons::before {
  content: "";
  min-width: 80px;
  height: 8px;
  background-color: #ffc700;
}

.footer__icon-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.footer__copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon-link:hover {
  background: #ffc700;
}

.footer__icon-link:active > .footer__icon-image {
  opacity: 0.3;
}

.footer__htmlacademy-link {
  fill: #ffc700;
}

.footer__htmlacademy-link:hover {
  fill: #ffffff;
}

.footer__htmlacademy-link:active {
  opacity: 0.3;
}

/*Catalog*/
.catalog {
  background-color: #ffffff;
}

.catalog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-title__heading {
  margin-top: 35px;
  margin-bottom: 11px;
  padding-right: 60px;
  padding-left: 60px;
}

.catalog-title__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 60px 0px 60px;
  margin: 0;
  margin-bottom: 29px;
}

.catalog-title__nav-item:not(:last-child) {
  position: relative;
  padding-right: 36px;
}

.catalog-title__nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 4px;
  height: 7px;
  background-image: url("../images/naw-arrow-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.catalog-title__nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.catalog-title__nav-link:hover {
  opacity: 0.6;
}

.catalog-title__nav-link:active {
  opacity: 0.3;
}

.main-catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 200px;
  padding-left: 60px;
  padding-right: 40px;
  margin-right: 20px;
}

.catalog-filter__price-control,
.catalog-filter__color,
.catalog-filter__bluetooth {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-price-slider {
  position: relative;
}

.slider-scale {
  position: relative;
  background-color: #dcdcdc;
  height: 2px;
  margin-bottom: 3px;
}

.slider-scale__strip,
.price-toggles {
  position: absolute;
  top: 0;
  width: 119px;
  height: 2px;
  background-color: #000000;
}

.price-toggles {
  top: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ebebeb;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.price-toggles:hover {
  background-color: #f4f4f4;
  border: 2px solid #828282;
}

.price-toggles:active {
  background-color: #000000;
  border-color: #000000;
}

.price-toggles:focus {
  outline: 2px solid #af4fff;
}

.price-toggles_min {
  top: -9px;
  left: -9px;
}

.price-toggles_max {
  right: 72px;
}

.price-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -7px;
  margin-left: -10px;
  gap: 22px;
}

.price-control__block {
  margin-top: 0;
  margin-bottom: 0;
}

.price-control__label,
.price-control__max-price,
.price-control__min-price {
  font-size: 14px;
  line-height: 20px;
  color: #283136;
  opacity: 0.3;
}

.price-control__max-price,
.price-control__min-price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  border: 0;
  width: 82px;
  padding-left: 18px;
  margin-top: 12px;
  margin-left: -20px;
}

.price-control__max-price:focus,
.price-control__min-price:focus {
  opacity: 1;
}

.catalog-filter__price-control {
  margin-bottom: 45px;
}

.catalog-filter__color {
  margin-bottom: 35px;
}

.catalog-filter__bluetooth {
  margin-bottom: 27px;
}

.button_form {
  position: relative;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding-left: 49px;
  padding-right: 49px;
  z-index: 1;
}

.button_form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  margin-top: -4px;
  z-index: -1;
}

.catalog {
  width: 840px;
}

.catalog__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 44px 360px;
  grid-template-columns: 360px 360px;
  gap: 43px 41px;
  padding: 70px 40px 44px 40px;
  background-color: #ffffff;
}

.catalog__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
}

.main-catalog, .catalog__pagination {
  background-color: #f0f0f0;
}

.catalog-section-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 0px 72px 0px;
}

.catalog-section-title_sort {
  margin: 26px 202px 25px 39px;
}

.catalog-filter__title:first-child {
  margin-bottom: 30px;
}

.catalog-filter__title {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  width: 200px;
  padding-right: 0;
  padding-left: 0;
}

.catalog-filter__title::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}


.catalog-filter__color > .catalog-filter__title,
.catalog-filter__bluetooth > .catalog-filter__title {
  margin-bottom: 14px;
}

.catalog-filter-label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}

.catalog-filter__text {
  margin-top: 0;
  margin-bottom: 7px;
}

.catalog-filter__bluetooth > .catalog-filter__text {
  margin-bottom: 8px;
}

.catalog-filter-label,
.catalog-filter__label-radio {
  cursor: pointer;
}

.catalog-filter__input-checkbox {
  width: 20px;
  height: 19px;
  margin: 0;
  -webkit-transform: translate(1px, 3.3px);
      -ms-transform: translate(1px, 3.3px);
          transform: translate(1px, 3.3px);
}

.catalog-filter__input-checkbox:focus {
  opacity: 1;
  z-index: 1;
}

.catalog-filter-label::before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: -35px;
  width: 18px;
  height: 18px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background: #f0f0f0;
  cursor: pointer;
  z-index: 2;
}

.catalog-filter__input-checkbox:checked + .catalog-filter-label::before {
  content: "";
  position: absolute;
  border: 2px solid #000000;
  border-radius: 3px;
  background: #f0f0f0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
}

.catalog-filter-label:hover,
.catalog-filter__label-radio:hover,
.catalog-filter__input-checkbox + .catalog-filter-label:hover::before,
.catalog-filter__input-radio + .catalog-filter__label-radio:hover::before {
  opacity: 0.6;
}

.catalog-filter__input-radio:hover,
.catalog-filter__input-radio:active,
.catalog-filter__input-checkbox:hover,
.catalog-filter__input-checkbox:active {
  opacity: 0;
}

.catalog-filter-label:active,
.catalog-filter__label-radio:active,
.catalog-filter__input-checkbox + .catalog-filter-label:active::before,
.catalog-filter__input-radio + .catalog-filter__label-radio:active::before {
  opacity: 0.3;
}

.catalog-filter__input-checkbox:disabled + .catalog-filter-label::before,
.catalog-filter__input-radio:disabled + .catalog-filter__label-radio::before {
  border: 2px solid #e8e8e8;
}

.catalog-filter__input-checkbox:disabled + .catalog-filter-label,
.catalog-filter__input-radio:disabled + .catalog-filter__label-radio {
  color: #e8e8e8;
}

.catalog-filter__input-checkbox:checked + .catalog-filter-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -29px;
  width: 10px;
  height: 10px;
  background-image: url("../images/tick-black-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #000000;
  cursor: pointer;
  z-index: 2;
}

.catalog-filter__input-radio {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-4px, 2.3px);
      -ms-transform: translate(-4px, 2.3px);
          transform: translate(-4px, 2.3px);
}

.catalog-filter__input-checkbox:hover {
  z-index: 1;
}

.catalog-filter__label-radio {
  position: relative;
  margin-left: 2px;
}

.catalog-filter__label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -35px;
  width: 18px;
  height: 18px;
  border: 2px solid #cccccc;
  border-radius: 20px;
  background: #f0f0f0;
  cursor: pointer;
}

.catalog-filter__input-radio:checked + .catalog-filter__label-radio::before {
  content: "";
  position: absolute;
  border: 2px solid #000000;
  border-radius: 20px;
  background: #f0f0f0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.catalog-filter__input-radio:checked + .catalog-filter__label-radio::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background: #000000;
  cursor: pointer;
}

.catalog__sort-link {
  color: #000000;
  text-decoration: none;
}

.catalog__sort-link:first-child {
  position: relative;
  margin-right: 215px;
  padding-right: 20px;
}

.catalog__sort-link:first-child::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 9px;
  height: 6px;
  background-image: url("../images/allow-down-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.catalog__sort-filter-up, .catalog__sort-filter-down {
  position: relative;
  padding: 5px 15px;
}

.catalog__sort-filter-up::before,
.catalog__sort-filter-down::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 11px;
  height: 10px;
  background-image: url("../images/sort-up-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.catalog__sort-filter-down::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog__sort-filter-up:hover::before,
.catalog__sort-filter-down:hover::before {
  opacity: 0.5;
}

.catalog__sort-filter-up:active::before,
.catalog__sort-filter-down:active::before {
  opacity: 1;
}

.catalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.catalog__product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  width: 209px;
  margin: 0;
}

.catalog__product {
  position: relative;
}

.catalog__product_new-item::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 58px;
  height: 58px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.catalog__product_new-item::after {
  content: "";
  position: absolute;
  top: 47px;
  right: 38px;
  width: 40px;
  height: 21px;
  background-image: url("../images/new-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog__product:hover > .catalog__product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(240, 240, 240, 0.6);
}

.catalog__product:hover.catalog__product_new-item::before {
  opacity: 0.6;
}

.catalog__product:hover.catalog__product_new-item::after {
  opacity: 0.3;
}

.catalog__product:active > .catalog__product-container > .button_catalog-product::before {
  background-color: #ffc700;
}

.catalog__product:hover > .catalog__info {
  opacity: 0.6;
}

.catalog__product:active > .catalog__info {
  opacity: 0.3;
}

.catalog__product-container {
  position: absolute;
  display: none;
  top: 0;
  width: 360px;
  height: 380px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_catalog-product {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 210px;
  color: #000000;
  padding: 8px 0;
  z-index: 1;
}

.button_catalog-product::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #ffe17f;
  z-index: -1;
}

.catalog__product-price {
  line-height: 21px;
  color: #444444;
  margin: 0;
}

.catalog__load-more {
  width: 760px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  padding: 14px 39px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.catalog__load-more:hover {
  border: 3px solid #000000;
}

.catalog__load-more:active {
  opacity: 0.3;
}

.catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 40px 78px 40px;
}

.catalog__pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog__pagination-button {
  color: #444444;
  opacity: 0.3;
  padding: 24px;
}

.catalog__pagination-button:hover {
  background-color: #dcdcdc;
}

.catalog__pagination-button:active {
  opacity: 0.3;
}

.catalog__pagination-button_forward {
  color: #000000;
  opacity: 1;
}

.catalog__pagination-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;
  min-width: 40px;
  padding: 10px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.3;
}

.catalog__pagination-link_active {
  opacity: 0.6;
}

.catalog__pagination-link:hover {
  opacity: 1;
}

.catalog__pagination-link:active {
  opacity: 0.1;
}

/*Popover*/
.popover-cart {
  position: absolute;
  top: 36px;
  right: -77px;
  width: 320px;
  height: 301px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  z-index: 3;
}

.popover-cart_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popover-cart::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 153px;
  width: 14px;
  height: 6px;
  background-image: url("../images/popover-arrow-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.popover-cart__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 20px 20px 21px;
}

.popover-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popover-cart__item:hover,
.button_cart-delete-item:hover {
  opacity: 0.6;
}

.popover-cart__item:active,
.button_cart-delete-item:active {
  opacity: 0.3;
}

.popover-cart__item-container:not(:first-child) {
  border-top: 1px;
  border-color: rgb(255, 255, 255, 0.1);
  border-top-style: inset;
}

.popover-cart__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 151px;
  margin-top: 0;
  margin-left: 23px;
  margin-bottom: 0;
}

.button_cart-delete-item {
  position: relative;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  background-image: url("../images/cross-white-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popover-cart__price-container {
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.popover-cart__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.popover-cart__price-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 12px;
}

.button_popover-cart {
  background-color: #ffffff;
  width: 280px;
  padding: 14.5px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button_popover-cart:disabled {
  opacity: 0.1;
}

.button_popover-cart:hover {
  background-color: #ffe17f;
}

.button_popover-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Modal*/
.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal__container_acive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 10px solid #000000;
  -webkit-box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 920px;
  height: 568px;
  padding: 62px 70px 72px 70px;
}

.modal__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
}

.button__modal-close {
  position: absolute;
  top: 75px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/cross-big-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
  cursor: pointer;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.modal__form-group_name,
.modal__form-group_email {
  width: 360px;
}

.modal__form-group_deliver {
  width: 540px;
}

.modal__form-group_number {
  width: 180px;
}

.modal__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.modal__form-label {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
}

.modal__form-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  height: 58px;
  border: none;
  padding-left: 20px;
}

.modal__form-button:disabled,
.modal__form-input:disabled {
  opacity: 0.3;
}

.modal__form-input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal__form-input::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal__form-input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal__form-input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal__form-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal__form-input_name:hover,
.modal__form-input_email:hover {
  background-color: #dcdcdc;
}

.button_form-modal {
  position: relative;
  background-color: #ffffff;
  border: none;
  padding: 12px 29px;
  cursor: pointer;
  z-index: 1;
}

.button_form-modal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  margin-top: -4px;
  z-index: -1;
}

.modal__form-group_name,
.modal__form-group_email,
.modal__form-group_number {
  position: relative;
}

.modal__form-group_name::before {
  content: "";
  position: absolute;
  top: 58px;
  right: 20px;
  width: 13px;
  height: 12px;
  background-image: url("../images/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.modal__form-group_email::before {
  content: "";
  position: absolute;
  top: 58px;
  right: 20px;
  width: 15px;
  height: 12px;
  background-image: url("../images/e-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.modal__form-name-add {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal__form-invalid {
  font-size: 14px;
  line-height: 20px;
}

.modal__form-input_email:invalid {
  border: 2px solid #ff3d3d;
  color: #ff3d3d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__form-input_email:invalid,
.modal__form-input_deliver:invalid,
.modal__form-input_number:invalid {
  color: #ff3d3d;
}

.modal__form-input_email:invalid:focus,
.modal__form-input_deliver:invalid:focus,
.modal__form-input_number:invalid:focus {
  outline: none;
}

.modal__form-group_number .modal__form-input_number {
  text-align: center;
}

.modal__form-input_number::-webkit-input-placeholder {
  opacity: 1;
}

.modal__form-input_number::-moz-placeholder {
  opacity: 1;
}

.modal__form-input_number:-ms-input-placeholder {
  opacity: 1;
}

.modal__form-input_number::-ms-input-placeholder {
  opacity: 1;
}

.modal__form-input_number::placeholder {
  opacity: 1;
}

.modal__form-input_deliver:hover {
  background-color: #dcdcdc;
}

.modal__form-input_deliver:focus {
  background-color: #dcdcdc;
  outline: none;
}

.modal__form-button {
  position: absolute;
  top: 34px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
}

.modal__form-button_minus {
  background-image: url("../images/minus-icon.svg");
}

.modal__form-button_plus {
  background-image: url("../images/plus-icon.svg");
  left: 120px;
}

.modal__form-info {
  position: absolute;
  top: 30px;
  right: -49px;
  width: 164px;
  height: 141px;
  display: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  background-color: #000000;
  -webkit-box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 19px 17px 0 19px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
}

.modal__form-info::before {
  content: "";
  position: absolute;
  top: -5.5px;
  right: 55px;
  width: 14px;
  height: 6px;
  background-image: url("../images/popover-arrow-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button_form-info {
  position: absolute;
  top: -3px;
  right: 34px;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-image: url("../images/info-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ffe17f;
  cursor: pointer;
}

.button_form-info:hover > .modal__form-info {
  display: block;
}

.button_form-info:focus > .modal__form-info {
  display: block;
}

.button_form-info:focus {
  outline: none;
}
