@font-face {
  font-style: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Raleway-800"), format("woff2"), url("..fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face {
  font-style: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik-400"), format("woff2"), url("..fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-style: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik-700"), format("woff2"), url("..fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-slider__hidden, .service__info_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  counter-increment: slide-counter;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*Header*/
.main-menu {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  background-color: #FFE17F;
}

.user-menu__user, .user-menu__functions, .site-menu__sub, .site-menu__sub-item, .site-menu__list,
.products-catalog__item, .products-catalog__list, .service__list, .service__item, .company-about__list,
.company-about__list-item, .footer__nav, .footer__social-icon, .catalog-title__nav-item, .catalog__pagination-page {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-menu, .site-menu {
  width: 1040px;
  display: flex;
}

.user-menu__search-field {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.user-menu__search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.site-menu__item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.site-menu__sub {
  display: flex;
}

.site-menu__sub-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.user-menu__functions {
  display: flex;
  margin-left: auto;
}

.site-menu__list {
  display: flex;
}

.user-menu__login_logout {
  opacity: 0.3
}

/*Slider*/
.main-slider__wrapper {
  display: flex;
}

.main-slider__image-wrapper {
  display: flex;
  width: 560px;
}

.main-slider__info {
  width: 560px;
  margin-left: 40px;
}

.main-slider__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.main-slider__text {
  color: #444444;
}

.button_main-slider {
  text-decoration: none;
  color: #000000;
}

.main-slider__table-facts {
  font-size: 36px;
}

.main-slider__table-text {
  font-size: 16px;
  color: #444444;
}

/*Main*/
.main-container {
  flex-grow: 1;
}

.products-catalog__list {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  line-height: 24px;
}

.products-catalog__item {
  width: 160px;
}

.products-catalog__item:not(:last-child) {
  margin-right: 40px;
}

.products-catalog__link {
  color: #000000;
  text-decoration: none;
}

.delivery {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.delivery__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.service {
  background-color: #F0F0F0;
}

.service__slider {
  display: flex;
}

.service__list {
  width: 280px;
}

.service__info {
  width: 448px;
  margin-left: 116px;
}

.company-info__wrapper {
  display: flex;
  justify-content: space-between;
}

.service__info-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service__info-text {
  color: #444444;
}

.company-info__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.company-about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 520px;
}

.company-contacts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 532px;
}
.company-about__text {
  color: #444444;
}

.company-about__list-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.company-contacts__title {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.company-contacts__address {
  font-style: normal;
  color: #444444;
}

.company-contacts__tel {
  color: #444444;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
}

.subscribe__text-wrapper, .subscribe__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscribe__title, .catalog-title__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe__title {
  width: 348px;
}

.subscribe__text {
  width: 560px;
  color: #444444;
}

.subscribe__form-field {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button_subscribe {
  align-items: center;
  text-align: center;
}

.subscribe__notice {
  color: #444444;
}

/*footer*/
.footer {
  background-color: #444444;
}

.footer__address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__address {
  width: 234px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 444px;
  margin: 0;
  padding-left: 0;
}

.footer__tel {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}


/*Catalog*/
.catalog-title {
  display: flex;
  flex-direction: column;
}

.catalog-title__nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-title__nav-item:not(:last-child) {
  padding-right: 36px;
}

.catalog-title__nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.main-catalog-container {
  display: flex;
}

.filters {
  width: 320px;
}

.catalog {
  width: 840px;
}

.catalog__products {
  background-color: #FFFFFF;
}

.catalog__sort {
  display: flex;
  align-items: baseline;
}

.main-catalog, .catalog__pagination {
  background-color: #F0F0F0;
}

.catalog-section-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter__title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 16px;
  line-height: 20px;
}

.catalog__sort-link {
  color: #000000;
  text-decoration: none;
}

.catalog__product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog__product-price {
  line-height: 21px;
  color: #444444;
}

.catalog__load-more {
  font-size: 16px;
  line-height: 19px;
}

.catalog__pagination-button {
  color: #444444;
  opacity: 0.3;
}

.catalog__pagination-button_forward {
  color: #000000;
  opacity: 1;
}

.catalog__pagination-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;
}
